.gk_image-block,
.gk_image-sortable-placeholder {
  display:inline-block;
  position:relative;
  margin:1px;
  overflow:hidden;
  width: 150px;
  height:150px;
  background-color: #FFF;
  padding:5px;
  border:1px solid #e8e8e8;
}

ul.has-primary .gk_image-block,
ul.has-primary .gk_image-sortable-placeholder{
  height:auto;
}

.gk_image-block:hover{
  cursor: move;
  cursor: grab;
  cursor: -webkit-grab;
}

.gk_image-block:active{
  cursor: grabbing;
}

.gk_image-sortable-placeholder{
  background-color: #e8e8e8;
  border-color: transparent;
  position: relative;
}

ul.has-primary .gk_image-sortable-placeholder{
  height:182px;
}

.gk_image-sortable-placeholder:after{
  content:'DROP HERE';
  text-align: center;
  line-height: 150px;
  color:#999;
}

ul.has-primary .gk_image-sortable-placeholder:after{
  line-height: 182px;
}

.gk_del-image{
  position:absolute;
  right:10px;
  bottom:130px;
  background-color:#F04;
  border-radius:10px;
}

ul.has-primary .gk_del-image{
  bottom:160px;
}

.gk_del-image span{
  text-decoration:none;
  color:#FFF;
}

.gk_images-wrapper ul{
  text-align:center
}

.gk_set-primary-image{
  display:block;
  text-decoration:none;
  padding:5px 0;
  color:#FFF;
  background-color:#0085ba;
  text-transform:uppercase;
  text-align:center;
}

.gk_primary-image-text{
  display:block;
  color:#FFF;
  text-align:center;
  width:100%;
  background:#03b75d;
  padding:5px 0;
  text-transform:uppercase;
}

.gk_open-media-library,
.gk_clear-all{
  border:0;
  background-color: #0085ba;
  color:#FFF;
  text-transform:uppercase;
  padding:10px 20px;
  cursor:pointer;
  transition:all 300ms;
}

.gk_clear-all{
  background-color:#f03;
}

.gk_clear-all:hover{
  background-color:#88001b;
  color:#FFF;
}

.gk_open-media-library:hover,
.gk_set-primary-image:hover,
.gk_set-primary-image:active,
.gk_set-primary-image:visited,
.gk_set-primary-image:focus{
  background-color:#02658c;
  color:#FFF;
}

.gk_button-media-library-wrapper{
  text-align:center;
  margin-bottom:15px;
  border-bottom:1px solid #e7e7e7;
  padding-bottom:15px;
}

.disabled .gk_set-primary-image{
  cursor:not-allowed;
  background-color:#d6d6d6;
}

.gk_image-block.media-video{
  background-color:#ededed
}

.gk_image-block.media-video img{
  position:relative;
  top:20px
}

.gk_image-block .filename{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  background-color:#FFF;
  height:50px;
}

.gk_image-block .filename span{
  position:absolute;
  display:block;
  width:100%;
  z-index:9;
  top:50%;
  -webkit-transform:translateY(-50%);
          transform:translateY(-50%)
}
